@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App {
    background-color: #e4ecf7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.navbar {
    grid-column: 3 / 13;
    grid-row: span 1;
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h3 {
    font-size: 1.5rem;
}

.navbar span {
    color: #5dcaad;
}

.icon {
    width: 35px;
    padding: 5px;
    margin-right: 1rem;
}

.nav {
    background-color: lightgrey;
    border-radius: 50%;
}

.sidebar {
    background-color: #ffffff;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1 {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.category {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.category:hover {
    color: rgb(226, 77, 23);
}

.category.active {
    color: rgb(226, 77, 23);
    border-left: 5px solid rgb(226, 77, 23);
    box-shadow: 0px 3px 6px 0px rgba(66,66,66,0.49);
}

.tasks {
    grid-column: 3 / 10;
    grid-row: 2 / 4;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 2rem;
    padding: 1rem;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid grey;
    font-size: 1.5rem;
    font-weight: bold;
}

.calendar {
    display: flex;
}

.date {
    display: flex;
    align-items: center;
}

.cal {
    margin-right: 0.1rem;
}

.task-brief {
    display: grid;
    padding-top: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.ongoing {
    border-radius: 8px;
    padding: 1rem;
    color: white;
    background-color: #fbbd54;
}

.delayed {
    border-radius: 8px;
    padding: 1rem;
    color: white;
    background-color: #fa5a63;
}

.completed {
    border-radius: 8px;
    padding: 1rem;
    color: white;
    background-color: #7ed353;
}

.total-assigned {
    border-radius: 8px;
    padding: 1rem;
    color: white;
    background-color: #a6d7ed;
}

.newtask {
    grid-column: 10 / 12;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: .25rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(226, 77, 23);
    border-radius: 8px;
    font-size: 1rem;
}

.tasklist {
    grid-column: 3 / 12;
    grid-row: 4 / 6;
    margin-left: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid grey;
    font-size: 1.5rem;
    font-weight: bold;
}

.list-select {
    display: flex;
    border-radius: 8px;
    border: 5px solid #e4ecf7;
    gap: 5px;
}

.button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.all {
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #e4ecf7;
}

.mytasks {
    background-color: #e4ecf7;
}

.lists-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
    grid-auto-flow: column;
    font-size: 1.1rem;
    font-weight: bold;
}

.task-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: column;
    padding: 1rem;
    gap: 40px;
}

.task-row:hover {
    background-color: #e4ecf7;
}

.status {
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

[data-status="pending"] {
    background-color: red;
}

[data-status="completed"] {
    background-color: limegreen;
}